<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t("activerecord.attributes.ad.id") %></th>
      <th scope="col"><%= t("activerecord.attributes.ad.image") %></th>
      <th scope="col"><%= t("activerecord.attributes.ad.title") %></th>
      <th scope="col"><%= t("activerecord.attributes.ad.price") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <th scope="row"><%= ad.id %></th>
        <td><%= image_tag ad.picture(:thumb) %></td>
        <td><%= ad.title %></td>
        <td><%= humanized_money_with_symbol ad.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
