<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EasyTrade</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'site', media: 'all' %>
    <%= stylesheet_link_tag    'site/profile', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
    <%= javascript_include_tag 'site/profile' %>
  </head>

  <body>
    <%= render partial: 'layouts/site_shared/navigation' %>
    <div id="wrapper" class="toggled">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li>
            <a href="#"><%= link_to t("profile_menu.dashboard"), site_profile_dashboard_index_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("profile_menu.my_ads"), site_profile_ads_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("profile_menu.new_ad"), new_site_profile_ad_path %></a>
          </li>
        </ul>
      </div>
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render partial: 'layouts/site_shared/footer' %>
    <% if notice %>
      <script>
        $.notify("<%= notice %>", "success");
      </script>
    <% end %>
  </body>
</html>
